/* Header */
.header {
  padding-top: 150px;
  /* padding-left: 450px; */
  padding-bottom: 100px;
}

.dragonPic {
  width: 400px;
  height: 400px;
  padding-top: 10px;
}

.swordPic {
  width: 300px;
  height: 200px;
  padding-top: 20px;
}

.loggingForm {
  padding-left: 400px;
  padding-right: 300px;
}

.forgetPassword {
  padding-top: 20px;
  padding-left: 200px;
}

.registerHere {
  padding-top: 20px;
  padding-left: 200px;
}

/* Registration Page */
.registerForm {
  padding-left: 400px;
  padding-right: 300px;
  padding-bottom: 100px;
}

/* Reset Password Page */
.passwordResetForm {
  padding-left: 400px;
  padding-right: 300px;
  padding-bottom: 100px;
}

.landingParagraph {
  padding-left: 400px;
  padding-right: 300px;
  padding-bottom: 100px;
}

/* Availability Graph on Profile: */
.circle-row {
  display: flex;
  align-items: center;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: gray;
  border: 0.5px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 5px;
}

.green-circle {
  width: 25px;
  height: 25px;
  background-color: green;
  border: 0.5px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 5px; 
}


